*{
    margin: 0;
    padding: 0;
}

main{
    /* border: 1px solid red; */
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    padding-top: 30vh;
}

.search{
    /* border: 1px solid green; */
    width: 100%;
    text-align: center;
}

.search > input {
    /* Need to center in main area */
    text-align: center;
    font-size: 2.3rem;
    border: 4px double grey;
    width: 100%;
    max-width: 400px;
}
